<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div class="alert alert-danger">
      <p><b><%= @customer.errors.count %>件のエラーがあります</b></p>
      <ul>
        <% @customer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group container1">
    <%= f.label :苗字　　 %><br>
    <%= f.text_field :family_name, class: "form-control form-control1" %>
  </div>
  <div class="form-group container1">
    <%= f.label :名前　　 %><br>
    <%= f.text_field :given_name, class: "form-control form-control1" %>
  </div>
  <div class="form-group container1">
    <%= f.label :詳細　　 %><br>
    <%= f.text_field :detail, class: "form-control form-control1" %>
  </div>
  <div class="form-group container1">
    <%= f.label :会員番号 %><br>
    <%= f.text_field :account_number, class: "form-control form-control1" %>
  </div>
  <div class="form-group container1">
    <%= f.label :カテゴリ %><br>
    <%= f.collection_select(:type_id, Type.all, :id, :name, {}, {class:"form-control  form-control1"}) %>
  </div>
  <div class="form-group container1">
    <%= f.submit "登録", class: "btn width"%>
  </div>
<% end %>