<%= form_for(@customer) do |f| %>
    
    <div class="form-group">
      <%= f.label :family_name %><br>
      <%= f.text_field :family_name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :given_name %><br>
      <%= f.text_field :given_name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :detail %><br>
      <%= f.text_field :detail, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :account_number %><br>
      <%= f.text_field :account_number, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :type_id %><br>
      <%= f.text_field :type_id, class: "form-control" %>
    </div>
    <%= f.submit class: "btn btn-default" %>
  <% end %>